body
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: xx-large;
    text-align: center;
}
body
{  
    background-image: url(https://images.unsplash.com/photo-1528459584353-5297db1a9c01?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    background-attachment:fixed;
}
.entry
{
    text-align: center;
}
.button {
  text-size:24px;
  padding: 15px 25px;
  fontalign: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
